.container {
	border: 0.983537px solid #b6b6b6;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 270.83px;
	height: 350px;
}

.container:not(:first-child) {
	margin-left: 150px;
}

.imgDiv {
	position: relative;
	margin-bottom: 20px;
}

.img {
	width: 187.86px;
	height: 173.1px;
}

.heart {
	position: absolute;
	cursor: pointer;
}

.heart:hover {
	transform: rotate(90);
}

.title {
	font-weight: 500;
	font-size: 17.0939px;
	color: #003f62;
	margin-bottom: 15px;
}

.price {
	font-weight: 600;
	font-size: 17.0939px;
	margin-bottom: 15px;
}

.stars > img {
	cursor: pointer;
}

.stars > img:not(:first-child) {
	margin-left: 10px;
}
