.container {
	max-width: 803px;
	width: 100%;
	border: 1px solid #b6b6b6;
	height: 505px;
	margin-bottom: 50px;
	border-radius: 16px;
}
.item__container {
	display: flex;
	justify-content: space-between;
}
.itemImg {
	position: absolute;
	left: 29px;
	width: 345px;
	height: 380px;
	top: 62px;
	border: 1px solid inherit;
}
img {
	object-fit: contain;
}
.itemDescr {
	width: 458px;
	position: absolute;
	right: 0;
	height: 380px;
	top: 62px;
}
.itemName {
	width: 350px;
	position: absolute;
	left: 90px;
	font-size: 14px;
	top: 30px;
	text-align: start;
	color: #003f62;
}
.itemPrice {
	position: absolute;
	font-size: 14px;
	left: 90px;
	top: 100px;
	display: inline-block;
	color: #4a4a4a;
}
#starIcon {
	width: 15px;
	display: inline-block;
	margin-right: 3px;
	cursor: pointer;
}
.starsContainer {
	display: flex;
	position: absolute;
	font-size: 14px;
	left: 90px;
	top: 125px;
	display: inline-block;
}
.itemsInStock {
	display: flex;
	position: absolute;
	font-size: 14px;
	left: 90px;
	top: 165px;
}
.itemInStock {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #e2f4ff;
	border-radius: 50%;
	margin-right: 5px;
	width: 77px;
	height: 78px;
	font-size: 22px;
	color: #eda415;
}
#cartIcon {
	background-color: #eda415;
	width: 30px;
	border-radius: 50%;
	padding: 5px;
	margin-left: 40px;
}
.addToCart {
	display: flex;
	align-items: center;
	position: absolute;
	left: 90px;
	top: 280px;
	background-color: #87bcd9;
	padding: 18px;
	border-radius: 16px;
	cursor: pointer;
}
.addToCartText {
	font-size: 16px;
}
#watchIcon {
	width: 24px;
}
.watch {
	position: absolute;
	padding: 21px;
	right: 70px;
	top: 280px;
	background-color: #87bcd9;
	font-size: 16px;
	border-radius: 16px;
	cursor: pointer;
}

.swiperSlide {
	display: block !important;
	width: 100% !important;
	height: 100% !important;
}
