.container {
	max-width: 435px;
	width: 100%;
	height: 241px;
	border: 1px solid #b6b6b6;
	margin-left: 50px;
	border-radius: 16px;
	display: flex;
}
.itemImg {
	display: flex;
	align-items: center;
	position: relative;
}

.itemImg img {
	object-fit: contain;
	width: 200px;
	height: 150px;
	margin-left: 30px;
}
.itemName {
	position: relative;
}
.itemName__text {
	margin-left: 20px;
	margin-top: 30px;
	margin-right: 20px;
	color: #003f62;
	font-size: 14px;
}
.itemPrice {
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
}
.starsContainer {
	display: flex;
	margin-left: 10px;
	margin-top: 20px;
}
#starIcon {
	width: 15px;
	height: 15px;
	display: inline-block;
	cursor: pointer;
	margin-left: 10px !important;
}
.sectionNav {
	display: block;
}

.bottom {
	margin-top: 20px;
}
